.title {
  font-family: 'Roboto', sans-serif; 
  font-size: 36px; 
  color: #333; 
  margin-bottom: 20px; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}

.subtitle {
  font-size: 1rem; 
  font-weight: bold; 
  color: #333;
  margin-bottom: 20px; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}

.footer-text {
  font-size: 0.5rem;
  color: #333; 
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  border: 2px solid #000;
  padding: 20px;
  text-align: center; 
  border-radius: 20px;
  min-height: 100px; 
  background-color: #EADBC8
}

.background {
  background-image: url('./assets/background2.jpeg');
  background-size: cover; 
  background-position: center;
  height: 100vh; 
  overflow: hidden; 
}


body {
  margin: 0; 
  overflow: hidden; 
}

@media (max-width: 670px) {
  .content {
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 40px); /* 20px de padding (10px en cada lado) */
    margin: 20px; /* Deja un espacio de 20px entre el borde de la página y el contenido */
    border: 1px solid #333; /* Agrega un borde para mejorar la visualización */
  }

  /* Estilos para ContentInput */
  #title,
  #standard-multiline-flexible {
    width: calc(100% - 20px); /* 10px de padding en cada lado */
    margin-bottom: 10px;
  }

  button[type="submit"] {
    width: calc(100% - 20px);
    margin-top: 10px; /* Añade un espacio entre el botón y los campos de entrada */
  }

  /* Estilos para ResponseBox */
  textarea {
    width: calc(100% - 20px); /* 10px de padding en cada lado */
  }
}
